@font-face {
    font-family: "Buenard";
    src: url("/fonts/Buenard-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Digital-numbers";
    src: url("/fonts/SFDigitalReadout-Medium.ttf")
}

@font-face {
    font-family: "Combo";
    src: url("/fonts/Combo-Regular.ttf");
}

@font-face {
    font-family: "RubikMaze";
    src: url("/fonts/RubikMaze-Regular\ \(1\).ttf");
}

main {
    background-color: white;
}


header { 
    text-align: center;
    margin-top: 55px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    color: #000000;
    position: relative;
    padding: 10px 0px;
}

.navbar-name {
    color: #000000;
    font-family: "Buenard";
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    text-decoration: none;
    display: block;
}


li {
    list-style: none;
}

.navbar-link {
    cursor: pointer;
    display: block;
    justify-content: space-between;
    color: #000000;
    font-family: "Inter";
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

#h1 {
    color: #000000;

    font-family: "Inter";
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 0.15em;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    white-space: nowrap;
}

#Profile-picture {
    width: 80%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 1290px;
    height: 900px;
    background-color: #D7EBF9;
    padding: 60px;
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-columns: auto, auto;
    column-gap: 60px;
    row-gap: 70px;
    position: relative;
    overflow: hidden;
}

.About-me-section {
    Position: absolute;
    left: 20%;
    top: 8%;
    width: 235px;
}

.About-me-outside {
    margin-left: 58px;
    display: grid;
    place-items: center;
    border-radius: 20px;
    height: 60px;
    width: 160px;
    background-color: #202020;
}


#About-me-inside {
    display: grid;
    place-items: center;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    background-color: #AF836A;
}

#About-me-bar {
    font-family: "Digital-numbers";
    margin-top: 12px;
    font-size: 30px;
    color: #fefefe;
    letter-spacing: 3px;
}

.About-me-list li {
    height: 60px;
    width:  270px;
    display: flex;
    justify-content: center;
    font-family: "Inter";
    align-items: center;
    font-size: 21px;
    border: 2px solid white;
}

.Origin {
    background: #83b8da;
}

.Biography {
    background: #e2d1dc;
}

.Vision {
    background: #e2d1dc;
}

.Communities {
    background: #fafafa;
}

.Projects-section {
    position: absolute;
    top: 5%;
    right: 20%;
    width: 240px;
    text-align: center;
}

.Globe {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto 5px;
}

.Projects-list {
    padding: 0;
    margin: 0;
}

.Projects-list li {
    font-family: "Inter";
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border: 2px solid white;
}


.Projects-collaborative {
    background: #efdfe1;
}

.Projects-personal {
    background: #deb298;
}

.Art-section {
    position: absolute;
    left: 24%;
    bottom: 18%;
    width: 300px;
    text-align: center;
}

.Plant {
    width: 170px;
    height: 130px;
    object-fit: contain;
    display: block;
    margin: 0 auto -5px;
}

.Art-list {
    padding: 0;
    margin: 0;
}

.Art-list li {
    font-family: "Inter";
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border: 2px solid white;
}

.Art-collaborative {
    background: #b8ce8f;
}

.Art-personal {
    background: #fff8f8;
}


.Contact-me-section {
    position: absolute;
    right: 18%;
    bottom: 21%;
    width: 215px;
    height: 250px;
    background: #cda78d;
    border: 10px solid #e7d1bd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contact-me {
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    font-family: "Combo";
    font-size: 31px;
    letter-spacing: 1px;

}

.Instagram,
.Gmail {
    width: 55px;
    height: 55px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.Instagram {
    background: white;
    margin-top: 5px;
   margin-bottom: 15px;
}

.Gmail {
    background: #222;
    color: white;
}

.Rectangle {
    height: 854px;
    width: 1254px;
    background-color: #255578;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.Antigua-Guatemala {
    width: 657px;
    height: 856px;
}

.Origin-info {
    position: relative;
    color: white;
    right: 3%;
    height: 200px;
}

.Origin-title {
    position: relative;
    color: #F0D4AC;
    font-family: "RubikMaze";
    font-size: 90px;
    letter-spacing: 20%;
    left: 20%;
    top: 5%;
}

.Origin-p {
    height: 300px;
    width: 450px;
    position: relative;
    font-size: 20px;
    font-family: "Inter";
    top: 230px;
    margin-left: 85px;
    text-align: right;
    line-height: 30px;
}

.full-screen-box {
    width: 100vw;
    height: 100vw;
    background-color: lightblue;
    display: flex;
}

.box2 {
    width: 1290px;
    height: 900px;
    background-color: white;
    padding: 60px;
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px; 
    box-sizing: border-box;
    grid-template-columns: 2fr 2fr;
    display: flex;
    grid-template-columns: auto, auto;
    column-gap: 60px;
    row-gap: 70px;
    position: relative;
    overflow: hidden;
}

.Rectangle2 {
    background-color: lightblue;
    height: 467px;
    width: 1180px;
    display: block;
}
