@font-face {
    font-family: "Buenard";
    src: url("/fonts/Buenard-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

main {
    background-color: white;
}


header { 
    text-align: center;
    margin-top: 55px;
    /* box-sizing: border-box;
    top: 50;
    left: center;
    right: center;
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-decoration: none;
    gap: 20px; */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    color: #000000;
    position: relative;
    padding: 10px 0px;
    /* margin-left: center;
    margin-right: center;
    margin-top: 0;
    margin-bottom: 0; */
}

.navbar-name {
    color: #000000;
    font-family: "Buenard";
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    text-decoration: none;
    display: block;
}


li {
    list-style: none;
}

.navbar-link {
    cursor: pointer;
    display: block;
    justify-content: space-between;
    color: #000000;
    font-family: "Inter";
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

#h1 {
    color: #000000;

    font-family: "Inter";
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 0.15em;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    white-space: nowrap;
}

#Profile-picture {
    width: 80%;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    background-color: #D7EBF9;
    width: 80%;
    /* display: block; */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#About-me-bar {
    color: #000000;
}

#Projects-bar {
    color: #000000;
}

#Art-bar {
    color: #000000;
}

#Contact-me-bar {
    color: #000000;
}

.list-bar {
    color: #000000;
}

